body {
	overflow-x: hidden;
}
.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: auto;
}
.layout__container {
	position: relative;
	width: 900px;
	height: 600px;
	overflow: hidden;
	border: 3px solid #ccc;

	display: flex;
	justify-content: center;
	align-items: center;
}
.layout__img {
	display: block;
	position: absolute;
	z-index: 3;
	width: 400px;
	opacity: 0.5;
}
.layout__head {
	background-color: #aee151;
	width: 371px;
	height: 425px;
	border-radius: 58% 50% 50% 58% / 66% 68% 33% 33%;
	position: absolute;
	top: 58px;
	left: 255px;
}
.head__eye {
	position: absolute;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	background-color: #fff;
	top: 25px;
	left: 81px;
	border: 9px solid rgb(121,159,48);
}
.eye__iris {
	position: absolute;
	width: 125px;
	height: 125px;
	border-radius: 100%;
	border: 4px solid #000;
	background: linear-gradient(to top, #2DC4BC 0%, #174569 100%);
	top: 38px;
	left: 34px;
}
.eye__pupil {
	position: absolute;
	width: 85px;
	height: 85px;
	background-color: #000;
	border-radius: 100%;
	top: 12px;
	left: 16px;
}
.eye__reflex {
	position: absolute;
	top: 9px;
	left: 0px;
	background-color: #fff;
	opacity: 0.8;
	z-index: 4;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}