body {
	overflow-x: hidden;
}
.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: auto;
}
.layout__container {
	position: relative;
	width: 900px;
	height: 600px;
	overflow: hidden;
	border: 3px solid #ccc;

	display: flex;
	justify-content: center;
	align-items: center;
}
.layout__horn--left {
	background-color: #ccc;
	width: 30px;
	height: 59px;
	position: absolute;
	top: -5px;
	left: 87px;
	z-index: -1;
	border-radius: 50%;
	transform: rotate(28deg);
}
.layout__horn--left::before {
	content: "";
	background-color: #fff;
	position: absolute;
	top: -2px;
	left: 8px;
	width: 20px;
	height: 34px;
	border-radius: 50%;
	transform: rotate(-12deg);
}
.layout__horn--right {
	background-color: #ccc;
	width: 30px;
	height: 59px;
	position: absolute;
	top: -5px;
	left: 254px;
	z-index: -1;
	border-radius: 50%;
	transform: rotate(-28deg);
}
.layout__horn--right::before {
	content: "";
	background-color: #fff;
	position: absolute;
	top: -2px;
	left: 0px;
	width: 20px;
	height: 34px;
	border-radius: 50%;
	transform: rotate(12deg);
}

.layout__head {
	background-color: #aee151;
	width: 371px;
	height: 425px;
	border-radius: 58% 50% 50% 58% / 66% 68% 33% 33%;
	position: absolute;
	top: 58px;
	left: 255px;
}
.head__eye {
	position: absolute;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	background-color: #fff;
	top: 25px;
	left: 81px;
	border: 9px solid rgb(121,159,48);
}
.eye__iris {
	position: absolute;
	width: 125px;
	height: 125px;
	border-radius: 100%;
	border: 4px solid #000;
	background: linear-gradient(to top, #2DC4BC 0%, #174569 100%);
	top: 38px;
	left: 34px;
}
.eye__pupil {
	position: absolute;
	width: 85px;
	height: 85px;
	background-color: #000;
	border-radius: 100%;
	top: 12px;
	left: 16px;
}
.eye__reflex {
	position: absolute;
	top: 9px;
	left: 0px;
	background-color: #fff;
	opacity: 0.8;
	z-index: 4;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
.head__mouth {
	height: 77px;
	width: 174px;
	background: linear-gradient(to bottom, #000 0%, #000 70%, #989948 70%, #989948 100%);
	position: absolute;
	top: 70%;
	left: 27%;
	border-radius: 50%;
	overflow: hidden;
}

.mouth__teeth {
	position: absolute;
	width: 40px;
	height: 74px;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
}
.mouth__teeth--1 {
	left: 21px;
	top: 56px;
}
.mouth__teeth--2 {
	left: 53px;
	top: 62px;
}
.mouth__teeth--3 {
	left: 85px;
	top: 62px;
}
.mouth__teeth--4 {
	left: 115px;
	top: 62px;
}
.mouth__beard {
	position: absolute;
	width: 90px;
	height: 12px;
	top: 74%;
	left: 45%;
	background-color: #7b7b7b5e;
	border-radius: 50%;
}